
body {
    background-color: #285e8e;
    
    //color: #faebcc;
}
h1{
    color: white;
}

p {
    color: white;
}
p a {
    color: white;
}

img {
    height: 100px;
}

.formstyle {
    color: white;   
}
.resultsstyle {
    color: white;
}
.employeetablecss {
    
    background-color: lightgray;
}