
body {
    background-color: #285e8e;
    
    //color: #faebcc;
}
a {
    color: white;
    padding-right: 5px;
}

img {
    height: 100px;
}

.formstyle {
    color: white;   
}
.resultsstyle {
    color: white;
}