extends layout

block content
  
  .resultsstyle
    h1=title
    p
        strong #{name}
        br
        strong #{email}
        br
        strong #{comments}
    p
        a(href="./form") Back